<header class="row">
    <h1 class="col-md-4">{{titleCase title}}</h1>

    <nav class="col-md-8">
        <ul class="mb-0">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/projects">Projects</a>
            </li>
        </ul>
    </nav>
</header>