{{> header }}

{{> section }}

<main>
    <div class="row my-4 projects">
        <div class="col-sm-6 col-md-4 col-xl-3">
            <h4>Project 1</h4>
        </div>
        <div class="col-sm-6 col-md-4 col-xl-3">
            <h4>Project 2</h4>
        </div>
        <div class="col-sm-6 col-md-4 col-xl-3">
            <h4>Project 3</h4>
        </div>
    </div>
</main>

{{> footer }}