/* Base ----- */

* {
    box-sizing: border-box;
}

body {
    font: 1.1em "Muli", sans-serif;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

/* Container ----- */

.container-fluid {
    display: flex;
    width: 95%;
    max-width: 1000px;
    flex-flow: column nowrap;
    align-items: center;
    padding: 1em;
    border-radius: 0.3em;
    margin: 40px auto;
    background: linear-gradient(145deg, #5f136e, #460e52);
    color: #fff;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
}

/* Header ----- */

header {
    width: 90%;
}

header h1 {
    text-align: center;
}

nav ul {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 0;
}

@media screen and (min-width: 768px) {
    nav ul {
        justify-content: flex-end;
    }
}

nav li {
    font-size: 1.3em;
    font-weight: 700;
    list-style: none;
}

nav li:not(:last-of-type) {
    margin-right: 1em;
}

nav a {
    color: #3dc8ff;
    text-decoration: none;
    transition: color 0.3s ease-out;
}

nav a:hover {
    color: #2fa8d8;
}

/* Section ----- */

section {
    text-align: center;
}

/* Main ----- */

main {
    width: 90%;
}

/* Projects ----- */

#projects {
    width: 100%;
    display: flex;
    justify-content: center;
}

.project {
    text-align: center;
}
